{% extends "base.html" %}

{% block content %}
<div class="mt-20 flex flex-col items-center">
    <h1 class="text-5xl text-center tracking-tight">{{ message }}</h1>

    <img src="{{ asset('bolthead.svg') }}" class="animate-[spin_120s_linear_infinite] mt-6 max-h-32" alt="">

    {% if request.user %}
    <div class="flex items-center mt-8">
        <img src="{{ request.user.get_avatar_url() }}" alt="" class="rounded-md w-14 h-14 mr-2">
        <div>
            {{ request.user }}
            <form action="{{ url('logout') }}" method="post">
                {{ csrf_input }}
                <button type="submit">Log out</button>
            </form>
        </div>
    </div>
    {% endif %}

    <div>
        <p class="mt-8 text-center">You are running Bolt {{ bolt_version }} on Python {{ python_version }}</p>
        <p class="mt-2 text-center">Read the <a href="https://docs.bolt.cm">documentation</a> or <a href="{{ url('admin:index') }}">go to the admin</a> (make yourself staff first)</p>
        <p>Run <code>bolt create name</code>?</p>
    </div>
</div>

{% endblock %}
